<!doctype html>
<html lang="en">

  <style>
    body{padding-top: 60px;}
    .ui-helper-hidden-accessible{width: 40%;position: relative;display: inline-block;line-height: 14px;padding-left: 10px;}

  </style>

  <body class="wysihtml5-supported">
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href= <%=  root_path %> >Comunicare</a>
          <div class="nav-collapse collapse nav-bar-inverse-collapse">
            <ul class="nav pull-right">
              <% if not session[:user_id] %>
                <li>
                  <%= link_to 'login', '/auth/josh_id' %>
                </li>
      		<% else %>
                <li class="divider-vertical"></li>
                <li>
                  <%= link_to "#{session[:user_id]['extra']['first_name']} #{session[:user_id]['extra']['first_name']}","#" %>
                </li>
                <li class="divider-vertical"></li>
  		<li>
                  <%= link_to 'logout', '/logout' %>
                </li>
                <li class="divider-vertical"></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-narrow">
      <div class="row well">