<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div>
  Mail from: <br/> <b><%= params[:mail][:from] %></b> to <br/><b><%= params[:mail][:to] %></b>
  with subject: <br/> <b><%= params[:mail][:subject]%></b>
  and content: <br/><b><%= params[:mail][:content]%></b> has been sent.
</div>
